= simple_form_for(@note) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title, input_html: { class: 'span6' }
    = f.input :creator, input_html: { class: 'span6' }
    = f.input :body, input_html: { class: 'span9', rows: 10 }
    = f.input :parent_id, as: :hidden

  .form-actions
    = f.button :submit
